:root{
    --font: 'Kanit', sans-serif;
    --golden:goldenrod;
    
}
*,*::after,*::before{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: var(--font);
    background: rgb(32, 32,32);
}
img{
    max-width: 100%;
    max-height: 100%;
}
h1,h2,h3,h4{
    color: var(--golden);
}
a{
    text-decoration: none;
    color: black;
}
.text-justify{
    text-align: justify;
    padding: 2rem;
}
.text--center{
    text-align: center;
    
}
/* Globales */
.container{
    max-width: 120rem;
    margin: 0 auto  ;
    width: 95%;
}
.color--white{
    color: white;
}

/* header */

.header{

}
.title{
    margin: 1rem;
    text-align: center;
    font-size: 5rem;
}
.title--span{
    font-size: 2rem;
}

.title__container{
    height: 60rem;
    background-image: linear-gradient(#030303, rgba(0, 0, 0, 0.418)), url(/img/programacion.jpg);
    background-size: cover;
    background-position: center;
    
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title__container__text--1 h2{
    font-size: 4rem;
    color: white;    
}
.title__container__text--2{
    font-size: 2rem;
    color: white;  
}
.title__container__text--3{ 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.title__container__text--3 img{
    width: 5rem;
}
.title__container__text--3 a{
    color: var(--golden);
}
/* Main */
.container__flex{
    background-color: rgb(39, 39, 39);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 3rem;
    -webkit-box-shadow: 11px 10px 119px -9px rgba(0,0,0,1);
    -moz-box-shadow: 11px 10px 119px -9px rgba(0,0,0,1);
    box-shadow: 11px 10px 119px -9px rgba(0,0,0,1);
    color: white;
    text-align: center;
}

.container_flex-skills{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    justify-content: center;

    
}
.container_flex-skills-img{
    padding: 1rem;
    height: 7rem;
    width: 7rem;
}

.container__flex__description{
    display: flex;
}
.container__flex__description--1{
    display: flex;
    background-color: var(--golden);
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    padding: 8rem;
    border-radius: 50%;
    justify-content: space-evenly;
    -webkit-box-shadow: 11px 10px 119px -9px rgba(0,0,0,1);
    -moz-box-shadow: 11px 10px 119px -9px rgba(0,0,0,1);
    box-shadow: 11px 10px 119px -9px rgba(0,0,0,1);
    margin: 2rem;
}
.container__flex__description--divs{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.container__flex__description--divs--flex{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.container__flex__description--1 img{
    max-width: none;
    max-height: none;
    width: 7rem;
    height: 7rem;
}
.h2__myProyects{
    color: white;
    text-align: center;
}
.container__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;

    
}
.article{
    width: 40rem;
    border: 1px solid rgb(77, 76, 76);
    border-radius: 0 0 1rem 1rem;
    
/*     -webkit-box-shadow: 11px 10px 119px -9px rgba(231,166,26,0.78);
    -moz-box-shadow: 11px 10px 119px -9px rgba(231,166,26,0.78);
    box-shadow: 11px 10px 119px -9px rgba(231,166,26,0.78); */
}

.footer{
    height: 10rem;
    background: black;
}

@media (max-width: 900px){
    .container__grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .article{
        width: 100%;
        height: 100%;
    }
    .container_flex-skills{
        flex-direction: column;
    }
    .container__flex__description{
        flex-direction: column;
    }
    .container__flex__description--divs--flex{
        flex-direction: row;
    
     }
}

@media (max-width: 480px){
    .container__flex__description--divs--flex{
        flex-direction: column;
     }
}


