
//Tipografia 
$fuente : 'Libre Franklin' sans-serif;

//colores
$verde : #4CB8B3;
$verdeDollar : #22a14a;
$rosa : #f53756;
$amarillo : #fef46D;
$morado : #752f97;
$negro : #000000;
$blanco : #FFFFFF;
$grisNavegacion: rgb(47,47,47);
$grisDark : rgb(27,27,27);
$grisBordes : rgb(170, 170, 170);
$grisBordesDarkMode : rgb(90, 90, 90);
//AnchoLetra
$bold : 700;