.skills {
  display: flex;
  margin-bottom: 5rem;
  i {
    font-size: 5rem;
  }

  /* skills.css */
  .stack {
    border-top: 1px solid $grisBordes;
    border-bottom: 1px solid $grisBordes;
    padding: 5rem;
    opacity: 0; /* Inicialmente, establece la opacidad en 0 para que los elementos estén ocultos */
    animation: fade-in 1s ease forwards; /* Aplica la animación de desvanecimiento */
    h2{
        font-size: 2rem;
    }
    .stack-flex {
    display: grid;
    grid-template-columns: repeat(3,1fr);
      gap: 2rem;
      align-items: center;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
